<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%- locals.title || locals.heading || `Message From Server` %>
    </title>

    <script src="/assets/js/assets.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="m-4">
    <div class="flex flex-col items-center justify-center gap-4">
        <div>
            <h1>
                <%- locals.heading || locals.title || `Message from server:` %>
            </h1>
        </div>
        <div>
            <p>
                <%- locals.message || `` %>
            </p>
        </div>
    </div>
</body>

</html>